flask
flask-cors
flask-login
flask-oauthlib
flask-sqlalchemy
flask-babel
geoalchemy2
psycopg2
Flask-WTF
WTForms
pydot
networkx

# oemof.db which is not yet a package on PyPI
-e git+https://github.com/energiekollektiv/oemof.db.git@dev#egg=oemof.db
-e git+https://github.com/energiekollektiv/oemof.git@integration/openmodsh#egg=oemof
