flask
flask-cors
flask-login
flask-oauthlib
flask-sqlalchemy
flask-babel
geoalchemy2
psycopg2
Flask-WTF
WTForms
pydot
networkx

# the following repositories are not available anymore at github
#-e git+https://github.com/energiekollektiv/oemof.db.git@dev#egg=oemof.db
#-e git+https://github.com/energiekollektiv/oemof.git@integration/openmodsh#egg=oemof

# therefore a snapshot is included in this repository
-e dependencies/oemof.db
-e dependencies/oemof

# needs older pyomo version that fits oemof
# unfortunately oemof does not take care of this...
pyomo==5.3
