flask
flask-cors
flask-login
flask-oauthlib
flask-sqlalchemy
geoalchemy2
keyrings.alt
psycopg2
Flask-WTF
WTForms

# oemof.db which is not yet a package on PyPI
-e git+https://github.com/oemof/oemof.db.git@dev#egg=oemof.db
-e git+https://github.com/oemof/oemof.git@v0.1.1#egg=oemof
