
<html>
    <head> <link rel="stylesheet" type="text/css" href="static/style.css">
           <title>openMod.sh</title>
    </head>

    <header>
        </br></br>

         <div align="right", id="boxlink">
         <a href={{ url_for('main_menu') }}>Go back to main menu</a>
         </div>
    </header>

    <main class="header">
        {% block body %}

        {% endblock %}
    </main>


    <footer>
    <div style="position:fixed; bottom:10px; height:auto;margin-top:40px;width:100%;text-align:center">
            COPYRIGHT @IGUT/energiekollektiv<br>
            <em>openmod.sh: an oemof based modelling software.</em>
    </div>
    </footer>
</html>