
<html>
 <head> <link rel="stylesheet" type="text/css" href="static/style.css">
  <title>openMod.sh</title>
 </head>

 <header>
  </br></br>
  <div style="float:left; width:70%;" class="base-header">
  {% block header %}
  {% endblock %}
  </div>
  <div style="float:right; width:30%;" class="base-header">
   <div align="right", id="boxlink">
    <a href={{ url_for('main_menu') }}>Go back to main menu</a>
   </div>
  <div>
 </header>

 <main class="header">
  {% block body %}

  {% endblock %}
 </main>


 <footer>
  <div style="position:fixed; bottom:10px; height:auto;margin-top:40px;width:100%;text-align:center">
   COPYRIGHT @IGUT/energiekollektiv<br>
   <em>openmod.sh: an oemof based modelling software.</em>
  </div>
  <script type="text/javascript">
   function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
   }
  </script>
  {% block footer %}
  {% endblock %}
 </footer>
</html>
