{% extends "base_layout.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-1.23.1.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket-leaflet.js"></script>
{% endblock %}

{% block submenu %}

<li class="nav-item">
<a class="nav-link" href="#">Selected scenario: {{ scenario.get('name', 'NONE') }}</a>
</li>

<li class="nav-item" onclick="updateScenario(scenario)">
<a class="nav-link" href="javascript:void(0)">Update scenario</a>
</li>

<li class="nav-item" onclick="saveNewScenario(scenario)">
<a class="nav-link" href="javascript:void(0)">Save New</a>
</li>

<li class="nav-item" onclick="runSimulation(scenario)">
<a class="nav-link" href="javascript:void(0)">Run Simulation</a>
</li>

{% endblock %}


{% block content %}
<!-- interface -->
<div class="row no-gutters tool">
    <div class="col-4">
        <header>
            Parameter
        </header>
        <div class="toolbar"><br/></div>
        <div class="body">
            <form id="slider_form"></form>
        </div>
    </div>
    <div class="col">
        <ul class="nav nav-tabs" id="plot_tab"></ul>
        <div class="tab-content" id="plot_tab_content"></div>
    </div>
</div>

<script src="/static/jquery-ui.min.js"></script>

<script src="static/plots.js"></script>

<script type="text/javascript">
function makeTab(id, label, options, content, onclick="", active="") {
    $('#plot_tab').append(
        '<li class="nav-item" onclick="'+onclick+'">'
        +'<a class="nav-link '+active+'" data-toggle="tab" href="#'+id+'_tab">'+label+'</a>'
        +'</li>');
    $('#plot_tab_content').append(
        '<div class="tab-pane '+active+'" id="'+id+'_tab" role="tabpanel">'
        +'<div class="toolbar">'+options+'</br></div>'
        +'<div id="'+id+'"></div>'
        +content
        +'</div>');
}

function getTagValue(element, tag) {
    return scenario.children_dict[element].tags[tag];
}

function getSequenceValue(element, sequence) {
    return scenario.children_dict[element].sequences[sequence];
}

function prepareTimeseries(id) {
    ts_args = {};
    ts_args.name = getTagValue(id, 'label')
    ts = getSequenceValue(id, lookup[id].profile);
    ts_args.ts = ts.map(function(i) {
        return i * parseFloat(getTagValue(id, lookup[id].value));
    });
    ts_args.color = lookup[id].color;
    return ts_args;
}


function updateValue(slider_id, newValue) {
    document.getElementById(slider_id + "_slider").value = newValue;
    document.getElementById(slider_id + "_display").innerHTML = newValue;
    document.getElementById(slider_id + "_area").innerHTML = newValue * 10;
    var l = lookup[slider_id];
    scenario.children_dict[slider_id].tags[l.value] = newValue;
}


function renderEmissionBarPlot(plot_id) {

    getEmissionResults(scenario_db_id, multi_hub_name='kiel', function(data) {
        if (data == false) {
            $("#"+plot_id).html("");
            $("#"+plot_id).append("No results in db!");
        }
        else {
            makeEmissionBarPlot(div=plot_id, data=data,
                                layout={'title': 'CO2-Emissions in Kiel'});
        }
    });
}

function renderHubBarPlot(select_id, plot_id) {
    $("#"+select_id).html("");

    getHubs(scenario_db_id, function(data) {
        if (data == false) {
            $("#"+plot_id).html("");
            $("#"+plot_id).append("No hubs founds!");
        }
        else {

            $.each(data, function(key, value) {
                if ('name' in value) {
                   if (value.name in hubs) {
                       $("#"+select_id).append("<option value='"+value.name+"'>"+hubs[value.name]+"</option>");
                   }
                };
            });
        }
    });

    $("#"+select_id).on('change', function() {
        hub_name = $(this).val()
        nice_hub_name = $( "#"+select_id+" option:selected" ).text();
        result = getHubResults(scenario_db_id, hub_name, true, function(data) {

            if (data == false) {
               $("#"+plot_id).html("");
               $("#"+plot_id).append("No results in db!");
            }
            else {
                makeBarPlot(div=plot_id, data=data, layout={'title': nice_hub_name});
            }
        });
    });
}


function renderStackedResultPlot(select_id, plot_id) {
    $("#"+select_id).html("");

    getHubs(scenario_db_id, function(data) {
        if (data == false) {
            $("#"+plot_id).html("No hubs founds!");
        }
        else {

            $.each(data, function(key, value) {
                if ('name' in value) {
                   if (value.name in hubs) {
                       $("#"+select_id).append("<option value='"+value.name+"'>"+hubs[value.name]+"</option>");
                   }
                };
            });
        }
    });

    $("#"+select_id).on('change', function() {
        hub_name = $(this).val();
        nice_hub_name = $( "#"+select_id+" option:selected" ).text();

        getHubResults(scenario_db_id, hub_name, false, function(data) {
            if (data == false) {
               $("#"+plot_id).html("No results in db!");
            }
            else {
                makeStackedResultPlot(div=plot_id, data=data,
                                      layout={'title': nice_hub_name});
            }
        });
    });
}



// JQUERY TO START NEW MODEL RUN (Send json)
function runSimulation(scenario) {
        return $.ajax({
            url: 'simulate',
            type: 'put',
            data: JSON.stringify(scenario),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                alert("The simulation runs in the background."
                      +" See Jobs for an overview of running simmulation.");}
        });
    }



// GET RESULTS FUNCTION FOR AGGREGATE RESULTS
function getHubResults(scenario_db_id, hub_name, aggregated, callback) {
    return $.ajax({
        url: 'API/hub_results',
        type: 'get',
        data : {scenario_id: scenario_db_id,
                hub_name: hub_name,
                aggregated: aggregated}
        })
    .done(callback)
    }


function getFlowResults(scenario_db_id, callback) {
    return $.ajax({
        url: 'API/flow_results',
        type: 'get',
        data : {scenario_id: scenario_db_id}
        })
    .done(callback)
    }

function getEmissionResults(scenario_db_id, multi_hub_name, callback) {
    return $.ajax({
        url: 'API/co2_results',
        type: 'get',
        data : {scenario_id: scenario_db_id,
                multi_hub_name: multi_hub_name}
        })
    .done(callback)
    }

function getHubs(scenario_db_id, callback) {
 return $.ajax({
        url: 'API/elements',
        type: 'get',
        data : {scenario_id: scenario_db_id,
                type: "hub",
                sequences: false,
                predecessors: false,
                successors: false,
                parents: false,
                geom: false,
                children: false}
        })
    .done(callback)
    }


function saveNewScenario(scenario) {
    do {
        var newScenarioName = prompt("New name", scenario['name']);
        if (newScenarioName == null) {
            return;
        }
    } while (newScenarioName == "");
    scenario['name'] = newScenarioName;
    var newScenarioDescription = prompt("New description", scenario['tags']['description']);
    if (newScenarioDescription == null) {
        return;
    }
    scenario['tags']['description'] = newScenarioDescription;
    $.ajax({
        url: 'API/element',
        type: 'post',
        data: JSON.stringify(scenario),
        headers: {
            'Content-Type': 'application/json'
        },
        dataType: 'json',
        success: function(data) {
            alert("Saved successfully! Opening new scenario.");
            window.location.replace('edit_scenario?id=' + data.scenario_db_id);
        },
        error: function() {
            if (! confirm("Scenario name is already taken. Try again.")) {
                return;
            }
            saveNewScenario(scenario);
        }
    });
}

function updateScenario(scenario) {
    // Delete existing scenario
    $.get('delete', {
        id: scenario_db_id
    });
    // Update scenario children from dict which is manipulated by slider
    scenario.children = Object.values(scenario.children_dict);
    // Use element API to write to DB
    $.ajax({
        url: 'API/element',
        type: 'post',
        data: JSON.stringify(scenario),
        headers: {
            'Content-Type': 'application/json'
        },
        dataType: 'json',
        success: function(data) {
            alert("Updated successfully! Opening updated scenario.");
            window.location.replace('edit_scenario?id=' + data.scenario_db_id);
        },
        error: function() {
            alert("Error. This should not have happened. Call somebody.");
        }
    });
}

function makeSlider(id, value, max) {
    return "<input id='"+id+"_slider' class='form-control' type='range' min='0' step='1' value='"
           +value+"' max='"+max+"' onchange="+'"'+"updateValue('"+id+"', this.value)"+'"'+"/>";
}

function makeSpan(id, value) {
    return "<span id="+id+">"+value+"</span>"
}

function makeAllSlider() {
    for (var element in lookup) {
        var l = lookup[element];
        $('#slider_form').append(
            '<div class="form-group row">'
                +'<label for="'+element+'" class="col-5 col-form-label">'+getTagValue(element, 'label')+'</label>'
                +'<div class="col">'
                    +makeSlider(element, getTagValue(element, l.value), getTagValue(element, l.max))
                +'</div>'
			    +'<div class="col-1">'
                    +makeSpan(element+"_display", getTagValue(element, l.value))
                +'</div>'
			    +'<div class="col-1">'
                    // TODO: How to deal with area?
                   +makeSpan(element+"_area", 0)
                +"</div>"
            +"</div>");
    }
}

function renderResultFlowPlot(select_flow_id, select_type_id, plot_id) {
    getFlowResults(scenario_db_id, function(data) {
        $("#"+select_type_id).html("");
        ['chronological', 'duration', 'heatmap'].forEach( function (x) {
            $("#"+select_type_id).append("<option value='"+x+"'>"+x+"</option>");
        });
        if (data == false) {
            $("#"+plot_id).html("No results in db");
        }
        else {
            $("#"+plot_id).html("");
            var keys = Object.keys(data);
            $("#"+select_flow_id).html("");
            keys.forEach(function (key) {
                $("#"+select_flow_id).append("<option value='"+key+"'>"+key+"</option>");
            });
            var edge = $("#"+select_flow_id).val();
            var ts = data[edge];
            var type = $("#"+select_type_id).val();
            renderResultFlowSubPlot(plot_id, edge, type, ts);
            $("#"+select_flow_id).on('change', function() {
                var edge = $(this).val();
                var ts = data[edge];
                var type = $("#"+select_type_id).val();
                renderResultFlowSubPlot(plot_id, edge, type, ts);
                });
            $("#"+select_type_id).on('change', function() {
                var type = $(this).val();
                var edge = $("#"+select_flow_id).val();
                var ts = data[edge];
                renderResultFlowSubPlot(plot_id, edge, type, ts);
                });
        }
   });
}

function renderResultFlowSubPlot(plot_id, edge, type, ts) {
    if (type == "chronological") {
        makeResultTimeseriesPlot(plot_id,
                                 {"name": edge, "color": "black", "ts": ts,
                                  "start_date": scenario.tags.year+"-01-01",
                                  "timestep": 3600},
                                 {"title": edge});
    } else if (type == "duration") {
        makeOrderedResultTimeseriesPlot(plot_id,
                                        {"name": edge, "color": "black", "ts": ts},
                                        {"title": "Duration curve of "+edge});
    } else if (type == "heatmap") {
        makeHeatmapPlot(plot_id,
                     {"ts": ts},
                     {"title": "Heatmap of "+edge});
    }
}

var scenario_db_id = {{ scenario_db_id }};

var scenario = {{ scenario | tojson }};

var lookup = {{ slider_lookup | tojson }};

var timeseries_available = {{ timeseries_available | tojson }};

var hubs = {{ hubs | tojson }};

var plot_tabs = {{ plot_tabs | tojson }};


scenario.children_dict = {};
scenario.children.forEach(function(data) {
    scenario.children_dict[data.name] = data
});

makeAllSlider();

plot_tabs.forEach(function(tab) {
    makeTab(tab.id, tab.label, tab.options, tab.content, tab.onclick, tab.active);
});

for (var element in lookup) {
    var l = lookup[element];
    updateValue(element, getTagValue(element, l.value));
}
</script>
{% endblock %}
