{% extends "base_layout.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-1.23.1.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket-leaflet.js"></script>
<style>
#timeseriesDataOrder { list-style-type: none; margin: 0; padding: 0;}
#timeseriesDataOrder li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #timeseriesDataOrder li { height: 1.5em; line-height: 1.2em; }
#timeseriesDataOrder li.placeholder { height: 1.5em; line-height: 1.2em; }
</style>
{% endblock %}

{% block submenu %}

<li class="nav-item">
<a class="nav-link" href="#">Selected scenario: {{ scenario.get('name', 'NONE') }}</a>
</li>

<li class="nav-item" onclick="updateScenario(scenario)">
<a class="nav-link" href="javascript:void(0)">Update scenario</a>
</li>

<li class="nav-item" onclick="saveNewScenario(scenario)">
<a class="nav-link" href="javascript:void(0)">Save New</a>
</li>

<li class="nav-item" onclick="runSimulation(scenario)">
<a class="nav-link" href="javascript:void(0)">Run Simulation</a>
</li>

{% endblock %}


{% block content %}
<!-- interface -->
<div class="row no-gutters tool">
	<div class="col-4">
		<header>
			Parameter
		</header>
		<div class="toolbar">
			<br />
		</div>
		<div class="body">
			<form id="slider_form">
			</form>
		</div>
	</div>
	<div class="col">
		<ul class="nav nav-tabs" id="plot_tab">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#region_plot_tab">Region Plot</a>
			</li>
		</ul>
        <div class="tab-content" id="plot_tab_content">
            <div class="tab-pane active" id="region_plot_tab" role="tabpanel">
                <div class="toolbar">
                    Here could be options for plotting (e.g. drop down menu, buttons...)<br />
                </div>
                <div id="region_plot"></div>
            </div>
        </div>
	</div>
    <ul id='timeseriesDataOrder1'></ul>
</div>

{% include 'jobs.html' %}

<script src="static/plots.js"></script>

<script type="text/javascript">
function makeTab(id, label, options, content) {
    $('#plot_tab').append(
        '<li class="nav-item">'
        +'<a class="nav-link" data-toggle="tab" href="#'+id+'_tab">'+label+'</a>'
        +'</li>');
    $('#plot_tab_content').append(
        '<div class="tab-pane" id="'+id+'_tab" role="tabpanel">'
        +'<div class="toolbar">'+options+'</div>'
        +'<div id="'+id+'"></div>'
        +content
        +'</div>');
}

function getTagValue(element, tag) {
    return scenario.children_dict[element].tags[tag];
}

function getSequenceValue(element, sequence) {
    return scenario.children_dict[element].sequences[sequence];
}

function prepareTimeseries(id) {
    ts_args = {};
    ts_args.name = getTagValue(id, 'label')
    ts = getSequenceValue(id, lookup[id].profile);
    ts_args.ts = ts.map(function(i) {
        return i * parseFloat(getTagValue(id, lookup[id].value));
    });
    ts_args.color = lookup[id].color;
    return ts_args;
}


function updateValue(slider_id, newValue) {
    document.getElementById(slider_id + "_slider").value = newValue;
    document.getElementById(slider_id + "_display").innerHTML = newValue;
    document.getElementById(slider_id + "_area").innerHTML = newValue * 10;
    var l = lookup[slider_id];
    scenario.children_dict[slider_id].tags[l.value] = newValue;
    makeSimpleTimeseriesPlot(layout_args={'title':'Simple Timeseries Title', 'div_id': 'timeseries_plot'},
                             ts=[prepareTimeseries(currentTimeseriesDataSimple[0])]);

   var timeSeriesData = [];
    for (var i = 0; i < currentTimeseriesDataMultiple.length; i++) {
    	timeSeriesData.push(prepareTimeseries(currentTimeseriesDataMultiple[i]));
    }
    makeSimpleTimeseriesPlot(layout_args={'title':'Simple Stacked Timeseries Title', 'div_id': 'stacked_timeseries_plot'},
                             ts=timeSeriesData);
}

function updateResults(hub_name) {
    makeBarPlot(hub_name=hub_name);
}

// JQUERY TO START NEW MODEL RUN (Send json)
function runSimulation(scenario) {
        return $.ajax({
            url: 'simulate',
            type: 'put',
            data: JSON.stringify(scenario),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
              $("#steve").replaceWith(data.jobs);
            }
        });
    }



// GET RESULTS FUNCTION FOR AGGREGATE RESULTS
function getResults(scenario_db_id, hub_name, callback) {
    return $.ajax({
        url: 'API/results/aggregated',
        type: 'get',
        data : {scenario_id: scenario_db_id,
                hub_name: hub_name}
        })
    .done(callback)
    }

function saveNewScenario(scenario) {
    do {
        var newScenarioName = prompt("New name", scenario['name']);
        if (newScenarioName == null) {
            return;
        }
    } while (newScenarioName == "");
    scenario['name'] = newScenarioName;
    var newScenarioDescription = prompt("New description", scenario['tags']['description']);
    if (newScenarioDescription == null) {
        return;
    }
    scenario['tags']['description'] = newScenarioDescription;
    $.ajax({
        url: 'API/element',
        type: 'post',
        data: JSON.stringify(scenario),
        headers: {
            'Content-Type': 'application/json'
        },
        dataType: 'json',
        success: function(data) {
            alert("Saved successfully! Opening new scenario.");
            // ALWAYS START A NEW SIMULATION IF THE THE SCENARIO IS SAVED
            runSimulation(scenario);
            window.location.replace('edit_scenario?id=' + data.scenario_db_id);
        },
        error: function() {
            if (! confirm("Scenario name is already taken. Try again.")) {
                return;
            }
            saveNewScenario(scenario);
        }
    });
}

function updateScenario(scenario) {
    // Delete existing scenario
    $.get('delete', {
        id: scenario_db_id
    });
    // Update scenario children from dict which is manipulated by slider
    scenario.children = Object.values(scenario.children_dict);
    // Use element API to write to DB
    $.ajax({
        url: 'API/element',
        type: 'post',
        data: JSON.stringify(scenario),
        headers: {
            'Content-Type': 'application/json'
        },
        dataType: 'json',
        success: function(data) {
            alert("Updated successfully! Opening updated scenario.");
            // ALWAYS START A NEW SIMULATION IF THE THE SCENARIO IS SAVED
            runSimulation(scenario);
            window.location.replace('edit_scenario?id=' + data.scenario_db_id);
        },
        error: function() {
            alert("Error. This should not have happened. Call somebody.");
        }
    });
}

function makeSlider(id, value, max) {
    return "<input id='"+id+"_slider' class='form-control' type='range' min='0' step='0.1' value='"
           +value+"' max='"+max+"' onchange="+'"'+"updateValue('"+id+"', this.value)"+'"'+"/>";
}

function makeSpan(id, value) {
    return "<span id="+id+">"+value+"</span>"
}

function makeAllSlider() {
    for (var element in lookup) {
        var l = lookup[element];
            $('#slider_form').append(
                '<div class="form-group row">'
                    +'<label for="'+element+'" class="col-5 col-form-label">'+getTagValue(element, 'label')+'</label>'
                    +'<div class="col">'
                        +makeSlider(element, getTagValue(element, l.value), getTagValue(element, l.max))
                    +'</div>'
				    +'<div class="col-1">'
                        +makeSpan(element+"_display", getTagValue(element, l.value))
                    +'</div>'
				    +'<div class="col-1">'
                        // TODO: How to deal with area?
                       +makeSpan(element+"_area", 0)
                    +"</div>"
                +"</div>");
    }
}

function initSelectors() {
    for (var i = timeseries_available.length - 1; i >= 0; i--) {
        // Simple
        if(currentTimeseriesDataSimple[0] == timeseries_available[i]) {
            $("#timeseriesDataSimple").append("<option selected=\"selected\"  value=" + timeseries_available[i] + ">" + timeseries_available[i] + "</option>");
        }
        else {
            $("#timeseriesDataSimple").append("<option  value=" + timeseries_available[i] + ">" + timeseries_available[i] + "</option>");
        }


        // Multiple
        var selected = false;
        for (var j = currentTimeseriesDataMultiple.length - 1; j >= 0; j--) {
        	if(currentTimeseriesDataMultiple[j] == timeseries_available[i]) {
        		selected = true;	
        	}
       	}
       	if(selected) {
            $("#timeseriesDataMultiple").append("<option selected=\"selected\" value=" + timeseries_available[i] + ">" + timeseries_available[i] + "</option>");
        }
        else {
            $("#timeseriesDataMultiple").append("<option value=" + timeseries_available[i] + ">" + timeseries_available[i] + "</option>");
        }
    }
    // Simple
    $("#timeseriesDataSimple").change(function() {
        $( "#timeseriesDataSimple option:selected" ).each(function() {
            currentTimeseriesDataSimple[0] = $(this).text();
        });
        makeSimpleTimeseriesPlot(layout_args={'title':'Simple Timeseries Title', 'div_id': 'timeseries_plot'},
                         ts=[prepareTimeseries(currentTimeseriesDataSimple[0])]);
    });


    // Multiple
    $("#timeseriesDataMultiple").change(function() {
		currentTimeseriesDataMultiple = [];

        $( "#timeseriesDataMultiple option:selected" ).each(function() {
            currentTimeseriesDataMultiple.push( $(this).text() );
        });

        var timeSeriesData = [];
	    for (var i = 0; i < currentTimeseriesDataMultiple.length; i++) {
	    	timeSeriesData.push(prepareTimeseries(currentTimeseriesDataMultiple[i]));
	    }
        makeSimpleTimeseriesPlot(layout_args={'title':'Simple Stacked Timeseries Title', 'div_id': 'stacked_timeseries_plot'},
                             ts=timeSeriesData);

        updateStackList();
    });
}

function updateStackList() {
	dragBox.html('');
	for (var i = 0; i < currentTimeseriesDataMultiple.length; i++) {
		dragBox.append("<li class='ui-state-default'  id='" + currentTimeseriesDataMultiple[i] + "'>" + currentTimeseriesDataMultiple[i] + "</li>");
	}

    dragBox.disableSelection();
	dragBox.sortable({
    	placeholder: "ui-state-highlight",
    	update: function() { 
     		currentTimeseriesDataMultiple = dragBox.sortable("toArray");
    		var timeSeriesData = [];
		    for (var i = 0; i < currentTimeseriesDataMultiple.length; i++) {
		    	timeSeriesData.push(prepareTimeseries(currentTimeseriesDataMultiple[i]));
		    }

		    makeSimpleTimeseriesPlot(layout_args={'title':'Simple Stacked Timeseries Title', 'div_id': 'stacked_timeseries_plot'},
		                             ts=timeSeriesData);
    	}
    });
    
}

var scenario_db_id = {{ scenario_db_id }};

var scenario = {{ scenario | tojson }};

var lookup = {{ slider_lookup | tojson }};

var timeseries_available = {{ timeseries_available | tojson }};

var plot_tabs = {{ plot_tabs | tojson }};

var timeseriesOrder = false;


scenario.children_dict = {};
scenario.children.forEach(function(data) {
    scenario.children_dict[data.name] = data
});

makeAllSlider();

plot_tabs.forEach(function(tab) {
    makeTab(tab.id, tab.label, tab.options, tab.content);
});

var dragBox = $("#timeseriesDataOrder");
var currentTimeseriesDataSimple = [timeseries_available[0]];
var currentTimeseriesDataMultiple = timeseries_available;

initSelectors();
updateStackList();

for (var element in lookup) {
    var l = lookup[element];
    updateValue(element, getTagValue(element, l.value));
}
</script>
{% endblock %}
