{% extends "base_layout.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-1.23.1.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
{% endblock %}

{% block header %}

<div style="float:left; width:50%;">
 Selected scenario: {{ scenario.get('name', 'NONE') }}
</div>
<div align="right", id="boxlink", style="float:left; width:25%;"
     onclick="updateScenario(scenario)">
 <a href="javascript:void(0)">Update scenario</a>
</div>
<div align="right", id="boxlink", style="float:right; width:25%;"
     onclick="saveNewScenario(scenario)">
 <a href="javascript:void(0)">Save New</a>
</div>

{% endblock %}

{% block body %}

<div style="float:left; width:30%;">

<h3>Select values</h3>
 <table style="width:50%">
  <tr>
    <td>Solar</td>
    <td>
        <input id="installed_power_solar_slider" type="range" min="0" max="50" value="0" step="5"
        onchange="updateValue('installed_power_solar', this.value)" /></td>
    <td>
        <span id="installed_power_solar_display">0</span>
    </td>
  </tr>
  <tr>
    <td>Wind</td>
    <td>
        <input id="installed_power_wind_slider" type="range" min="0" max="50" value="0" step="5"
        onchange="updateValue('installed_power_wind', this.value)" />
    </td>
    <td>
        <span id="installed_power_wind_display">0</span>
    </td>
  </tr>
</table>
</div>

<div style="float:right; width:70%;">
 <div class="tab">
  <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Tab1')" id="defaultOpen">Region Plot</a>
  <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Tab2')">Timeseries Plot</a>
 </div>

 <div id="Tab1" class="tabcontent">
  <h3>tab1</h3>
  <div id="region_plot" style="height: 300px;"></div>
 </div>

 <div id="Tab2" class="tabcontent">
  <h3>tab2</h3>
  <button type="button" onclick="reorderTimeseries()">Reorder</button>
  <div id="timeseries_plot" style="height: 300px;"></div>
 </div>
</div>


{% endblock %}

{% block footer %}

<script type="text/javascript">
function updateValue(slider_id, newValue) {
 document.getElementById(slider_id+"_slider").value = newValue;
 document.getElementById(slider_id+"_display").innerHTML=newValue;
 var l = lookup[slider_id];
 scenario.children_dict[l.child].tags[l.tag] = newValue;
 makeTimeseriesPlot();
 makeRegionPlot();}

var timeseriesOrder = false;

function reorderTimeseries(){
 timeseriesOrder = !timeseriesOrder;
 makeTimeseriesPlot();}

function makeTimeseriesPlot() {
 var dates = Array.apply(null, Array(8760)).map(function (_, i) {return new Date(i*3600*1000);});
 var solar = scenario.children_dict.kiel_solar.sequences.generator_profile;
 solar = solar.map(function(i) {return i*scenario.children_dict.kiel_solar.tags.installed_power});
 var wind = scenario.children_dict.kiel_wind.sequences.generator_profile;
 wind = wind.map(function(i) {return i*scenario.children_dict.kiel_wind.tags.installed_power});
 
 var ts = []
 for (var i=0; i<solar.length; i++) {
  ts.push(solar[i] + wind[i]);}
 
 if (timeseriesOrder) {
  ts = ts.sort(function(a, b){return b-a});
  dates = Array.apply(null, Array(8760)).map(function (_, i) {return i+1;});}
 
 var selectorOptions = {
  buttons: [{step: 'month', stepmode: 'backward', count: 1, label: '1m'},
            {step: 'all'}]};
 var layout = {
  title: 'Summed up wind and solar production in Kiel',
  xaxis: {rangeselector: selectorOptions, rangeslider: {}},
  yaxis: {fixedrange: true}};
 var data = [{
  mode: 'lines',
  x: dates,
  y: ts}];
 Plotly.newPlot('timeseries_plot', data, layout);}

var map = new L.Map('region_plot');

function makeRegionPlot(){
 // create the tile layer with correct attribution
 var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
 var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
 var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});

 // start the map in South-East England
 map.setView(new L.LatLng(54.32133, 10.13489),9);
 map.addLayer(osm);
 }

function saveNewScenario(scenario) {
 console.log(scenario);
 scenario['name'] = prompt("New name", scenario['name']);
 scenario['tags']['description'] = prompt("New description", scenario['tags']['description']);
 console.log(scenario);}

function updateScenario(scenario) {
 alert("Still to be implemented!")}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

var scenario = {{ scenario | tojson }};
scenario.children_dict = {};
scenario.children.forEach(function(data) {
scenario.children_dict[data.name] = data});

lookup = {installed_power_solar: {child: "kiel_solar", tag: "installed_power"},
          installed_power_wind: {child: "kiel_wind", tag: "installed_power"}};

updateValue("installed_power_solar", 12);
updateValue("installed_power_wind", 34);
</script>
{% endblock %}
