{% extends "base_layout.html" %}

{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

 {% if val %}

   Imported successfully!

   <form action="{{ url_for('show_scenarios') }}" method=get>
   <input type=submit value="Go to scenario overview">

 {% else %}

   Scenario name already exist, select new name or abort:<br>

   <input type=submit value="New name", onClick="saveNewScenario(scenario);">


   <form action="{{ url_for('show_scenarios') }}" method=get>
   <input type=submit value="Abort">

 {% endif %}

<script type="text/javascript">

function saveNewScenario(scenario) {
 console.log(scenario);
 scenario['name'] = prompt("New name", scenario['name']);
 console.log(scenario)

 $.ajax({
    url: '/import',
    type: 'post',
    data: JSON.stringify(scenario),
    headers: {'Content-Type': 'application/json'},
    dataType: 'json',
    success: function(data) {
    if (data.success) {
        alert("Updated successfully");
        window.location.replace('scenario_overview')}
    else {
        alert("Update failed. Please specifiy another name!");}
    }
   }
  );
 }

var scenario = {{ scenario | tojson }}




</script>

{% endblock %}

