{% extends 'layout.twig' %}

{% block site %}
{% from "macros.xml" import render_field %}
  <div class="row align-items-center no-gutters">
    <div class="col">
    </div>
    <div class="col">
      <header class="head">
        <div class="logo">
          <div class="name">
            OPENMOD.SH <span>0.2</span>
          </div>
          Energiekollektiv
        </div>
      </header>
      <div class="main">
          <header>
            <div class="title">Login</div>
          </header>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>
              <div class="alert alert-danger" role="alert">
                {{ message }} 
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}
          <div class="card card-noborder">
          {% if current_user.is_authenticated %}
            <div class="card-block">
              <div class="card-header">
                Login
              </div>
              <div class="card-block">
                <p>Logged in as <strong>{{ current_user.name }}</strong>.</p>
              </div>
            </div>
          {% else %}
            <form method=post action="/login">
            <div class="card-block">
              {{ form.hidden_tag() }}
              {{ render_field(form.username) }}
              {{ render_field(form.password) }}
              <!--<div class="form-group row">
                <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Email address</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
              </div>
              <div class="form-group row">
               <label for="exampleInputPassword1" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>-->
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </form>
          {% endif %}
          </div>
      </div>
        <footer>
          &copy; OPENMOD.SH - Energiekollektiv 2017
          <!-- company | text -->
        </footer>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock %}
