{% from "_formhelpers.html" import render_field %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }} </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<p> Logged in as {{ current_user.name }}.</p>
{% else %}
<form method=post action="/login">
  {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Login>
</form>
{% endif %}

