{% extends "base_layout.html" %}
{% block body %}


 <table border='1' align="center", id="hor-minimalist-a">
    <tr>
        <th>Scenario Name</th>
        <th>Number of children</th>
        <th>Select Scenario</th>
    </tr>
         {% for k,v in scenarios.items() %}
    <tr>
        <td>{{ scenarios[k]['tags']['name'] }}</td>
        <td>{{ scenarios[k]['children']  }}</td>
        <td>  <form action="{{ url_for('compute_results', scenario=scenarios[k]['tags']['name']) }}"
                method=post>
        <input type=submit value="Compute">
              </form>
        </td>
    </tr>
        {% endfor %}
  </table>


{% endblock %}

