body {
	font-size: 13px;
	letter-spacing: 0.5px;
    color: #6a6c6f;
	background: #f1f3f6;
}

/**
 * Site Header
 */
header.head {
	border-top: 5px solid #f1ad02;
	background: #2f1b56;
	color: #ffffff;
	padding: 5px 25px;
}

/* Logo */
header.head .logo {
	padding: 10px 30px 15px 0px;
	text-transform: uppercase;
	font-size: 12px;
}
header.head .logo span {
	font-size: 10px;
	vertical-align: 4px;
	color: #f1ad02;
}
header.head .logo .name {
	font-size: 16px;
}

/* Navigation */
header.head .nav a {
	color: #a7b1c2;
	display: block;
	padding: 15px 20px 20px;
}
header.head .nav a:hover, header.head .nav a:focus, header.head .nav a.active {
	color: #f1ad02;
}

/**
 * Breadcrump / Contentheader
 */
.main > header {
	padding: 15px 25px;
	background: #ffffff;
	border-bottom: 1px solid #eaeaea;
	font-size: 12px;
}
.main > header .title {
	font-weight: 800;
	font-size: 14px;
}

/**
 * Footer
 */
footer {
	background: #ffffff;
	border-top: 1px solid #eaeaea;
	padding: 15px 25px;
	font-size: 10px;
}

/**
 * Content
 */
.content {
	padding: 25px 40px 40px;
}

/**
 * Buttons
 */
.btn {
	border-radius: 3px;
    padding: 8px 15px;
    font-size: 14px;
}
.btn-primary {
	background: #f1ad02;
	border: 1px solid #e3a302;
}

/**
 * Forms
 */
.form-control {
	font-size: 14px;
	line-height: 12px;
}

/**
 * Cards
 */
.card {
	margin-bottom: 25px;
	border-top: 2px solid #f1ad02;
	border-radius: 0px 0px 3px 3px;
}
.card-header, .card-footer {
	padding: 10px 20px;
}
.card-block, .card-area {
	padding: 20px 20px 25px;
}
.card-area {
	border: 0px;
}
.card-area.full {
	height: 400px;
}
.alert.card-alert {
	border-radius: 0px;
	margin-bottom: 0px;
}
.card-footer {
	font-size: 11px;
}
.card-noborder {
	border: 0px;
}

/**
 * Tabs
 */
.nav-tabs {
	background: #2f1b56;
	border: 0px;
	padding-top: 5px;
}
.nav-tabs a.nav-link {
	color: #ffffff;
	border: 0px;
	border-radius: 4px 4px 0px 0px;
	margin-left: 7px;
	padding-bottom: 10px;
}
.nav-tabs a.nav-link.active {
	background: #ffffff;
	color: #2f1b56;
}
.nav-tabs a:focus, .nav-tabs a:hover {
	color: #f1ad02;
}
.left-border {
	border-left: 1px solid #eaeaea;
}
.right-border {
	border-right: 1px solid #eaeaea;
}

/**
 * Modal
 */
.modal-content {
	border-radius: 0px 0px 3px 3px;
}

.modal-header {
	border-top: 5px solid #f1ad02;
}

.tool .table th {
	border-top: 0px;
}

/**
 * Custom Nav Style
 */
.btn.noLink {
	cursor: default;
 }

