{% set container_id = container_id | default('steve') %}
<div id="{{ container_id }}">
<script type="text/javascript">

function update(container_id){
  $.ajax({
    url: '/widgets/jobs',
    type: 'get',
    success: updatecallback(container_id)
  });
};

function updatecallback(container_id){
  return function (jobs) { $(container_id).replaceWith(jobs); };
};

function remove_dead_jobs(container_id){
  $.ajax({
    url: '/remove/dead',
    type: 'put',
    success: function (data) {
      return (updatecallback(container_id))(data.jobs);
    }
  });
};

function update_job_list(job, container_id) {
  $.ajax({
    url: '/kill/' + job,
    type: 'put',
    success: function (data) {
      return (updatecallback(container_id))(data.jobs);
    }
  });
};

</script>
{% if jobs %}
<p>Queued/Running Simulations:</p>
<ul id="jobs">
  {% for k, job in jobs.items() %}
  <li>
    <a href="/simulation/{{k}}">{{job.name}} ({{job.user}})</a>
    ({{ job.status() }})
    <button onclick="update_job_list({{k}}, '#{{container_id}}')">
      Dequeue/Kill
    </button>
  </li>
  {% endfor %}
</ul>
<button onclick="update('#{{container_id}}')">Update</button>
<button onclick="remove_dead_jobs('#{{container_id}}')">
  Remove Dead Jobs
</button>
{% else %}
<p> No Jobs. </p>
{% endif %}
</div>
