{% set container_id = container_id | default('steve') %}
<div id="{{ container_id }}">
<script type="text/javascript">

setTimeout(update, 7000, '#{{container_id}}')

function update(container_id){
  $.ajax({
    url: '/widgets/jobs',
    type: 'get',
    success: updatecallback(container_id)
  });
};

function updatecallback(container_id){
  return function (jobs) { $(container_id).replaceWith(jobs); };
};

function remove_dead_jobs(container_id){
  $.ajax({
    url: '/remove/dead',
    type: 'put',
    success: function (data) {
      return (updatecallback(container_id))(data.jobs);
    }
  });
};

function update_job_list(job, container_id) {
  $.ajax({
    url: '/kill/' + job,
    type: 'put',
    success: function (data) {
      return (updatecallback(container_id))(data.jobs);
    }
  });
};

</script>
{% if jobs %}
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Waiting/Running Simulations</h4>
        </div>
            <table class="table table-hover">
					<thead>
					    <tr>
                                   <th width="10%">Scenario</th>
                                   <th width="10%">User</th>
							<th width="5%">Process</th>
                                   <th width="5%">Stop</th>
					    </tr>
					</thead>
					<tbody>
						 {% for k, job in jobs.items() %}
						<tr>
							<td><a href="/simulation/{{k}}">{{job.scenario}}</a></td>
                                    <td>    {{job.user}}</td>
                                   <td>{{ job.status() }}</td>
							<td>
                                    <button class="btn btn-primary" onclick="update_job_list({{k}}, '#{{container_id}}')">
                                    Pause / Kill
                                    </button>
    						     </td>
						</tr>
					    {% endfor %}
					</tbody>
				</table>
        <div class="card-block">
          <button class="btn btn-primary" onclick="update('#{{container_id}}')">Update</button>
          <button class="btn btn-primary" onclick="remove_dead_jobs('#{{container_id}}')"> Remove Dead Jobs</button>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>


{% else %}

        <div class="card">
        <div class="card-block">
          <h4 class="card-title">Queued/Running Simulations</h4>
          <h6 class="card-subtitle mb-2 text-muted">No Jobs.</h6>
          <p><br /></p>
        </div>
      </div>
{% endif %}
</div>
