<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/strict.dtd">
<html xmlns="http://www.w3.org/TR/xhtml1/strict" >

<head> <title>openMod.SH</title>

<script src="//code.jquery.com/jquery-2.1.4.js"
        type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"
        type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ol3/3.8.2/ol.js"
        type="text/javascript"></script>
<script src="/static/code.js" type="text/javascript"></script>

<link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css"
      type="text/css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />

</head>

<body>

<div id="outworld" style="display:none;">
  <div id="marker" class="marker"></div>
  <span id="label" class="label"></span>
</div>

<div id="map" class="map"></div>
<div id="timeseries-plot" class="plot"></div>

<h1 id="title">openMod.SH</h1>

</body>

</html>

