<!doctype xhtml>
<html>

<head> <title>openMod.SH</title>
<script src="//code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js">
</script>
<script type="text/javascript">

$(document).ready(function() {
    $.plot($("#timeseries-plot"), {{ series_json | safe }});
});

</script>
</head>

<body>
<h1>Welcome to the openMod.sh landing page</h1>

<table>
  <tr><th>Database table</th><th>No. of rows in the table</th></tr>
  <tr><td>Plants</td><td> {{ plants | count }} </td></tr>
  <tr><td>Timeseries</td><td> {{ series | count }} </td></tr>
</table>
<div id="plotting">
  <p>Let's see how how <a href="http://www.flotcharts.org/">Flot</a> plots this
     JSON:<br>{{ series_json }}
  </p>
  <div id="timeseries-plot" style="width:377px;height:233px">
  </div>
</div>
</body>

</html>

